.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4,1fr);
    margin: 20px;
}

.caixa1{
    background-color: lightblue;
    text-align: center;
    padding: 5px;

 

    grid-area: 1/1/2/5;
}

.caixa2{
    background-color: lightcoral;
    text-align: center;
    padding: 5px;
 
   
    
    grid-area: 2/1/4/3;
}
.caixa3{
    background-color: lightcyan;
    text-align: center;
    padding: 5px;

 
    
    grid-area: 2/3/4/5;
}
