.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4,1fr);
    margin: 20px;
}

.caixa1{
    background-color: lightblue;
    text-align: center;
    padding: 5px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.caixa2{
    background-color: lightcoral;
    text-align: center;
    padding: 5px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
.caixa3{
    background-color: lightcyan;
    text-align: center;
    padding: 5px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}

.container2{
    display: grid;
    grid-template-rows: repeat(4,80px);
    grid-template-columns: repeat(6,1fr);
    margin: 20px;
}
.box1{
    background-color: aliceblue;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box2{
    background-color: antiquewhite;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
}
.box3{
    background-color: aquamarine;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 7;
}
.box4{
    background-color: beige;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
}
.box5{
    background-color: whitesmoke;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 7;
}
.container3{
    display: grid;
    grid-template-rows: repeat(6,80px);
    grid-template-columns: repeat(7,1fr);
    margin: 20px;
}

.b1{
    background-color: thistle;
    grid-row-start:1 ;
    grid-row-end: 3;
    grid-column-start:1 ;
    grid-column-end: 5;
}

.b2{
    background-color: yellow;
    grid-row-start:1 ;
    grid-row-end:6 ;
    grid-column-start:5 ;
    grid-column-end:7 ;
}

.b3{
    background-color: turquoise;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 5;
}

.b4{
    background-color: tomato;
    grid-row-start:4 ;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
}

.b5{
    background-color: violet;
    grid-row-start: 3;
    grid-row-end:4 ;
    grid-column-start: 1;
    grid-column-end: 5;
}