*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;/*altura da linha*/


}
h1, h2{
    margin-bottom: 20px;
    line-height: 1.2em;
    text-align: center;
}
header{
    padding: 20px;
}

p{
    text-align: justify;
    padding: 10px;
    font-size: 20px;
}
.normal{
    padding: 20px;
}

.flex-content{
    background-color: lightgray;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;


}


.text-midia{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;/*Cola o priemiro na esquerda e o ultimo no final*/
}
.midia-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}
.text{
    flex: 1 1 500px; /* flex-grow: 1 → Permite que o item cresça, flex-shrink: 1 → Permite que o item encolha caso não haja espaço suficiente no container, flex-basis: 500px → Define o tamanho inicial preferido do item  */
    
}
.media{
    flex: 1 0 400px;
   
}
.media > img{
    display: block;
    margin:auto;
    width: 400px;
    padding: 10px;
}
.media >iframe{
    display: block;
    margin: auto;
    

    width: 90%;
}